/***************************************************************/
/***************** Main de productos.html - Inicio *************/
main.productos {
	@extend %mainComun;
	overflow: hidden;

	.breadcrumb {
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-weight: 600;
		padding: 0.5rem 1rem;

		li {
			color: #545454;

			a {
				color: #b30404;
				font-weight: 500;
			}
		}
	}

	#filtros {
		background-color: #e9ecef;
		border-radius: .25rem;
		padding: .5rem 1rem;

		h3 {
			font-size: 1.25rem;
			margin-bottom: .5rem;
			height: 2.4rem;
			display: flex;
			align-items: center;

			span {
				padding-left: 1rem;
			}
		}

		h4 {
			font-size: 1.1rem;
		}

		label {
			font-weight: 500;
		}

		#aplicarFiltros {
			background-color: #b30404;
		}
	
	}
}


.ocultar {
	display: none;
}

/******************* Main de productos.html - Fin **************/
/***************************************************************/