/***************************************************************/
/***************** Main de productos.html - Inicio *************/
main.productos {
	@extend %mainComun;
	overflow: hidden;

	nav {
		position: relative;

		.breadcrumb {
			margin-top: 1rem;
			margin-bottom: 1rem;
			font-weight: 600;
			padding: 0.5rem 1rem;

			li {
				color: #545454;

				a {
					color: #b30404;
					font-weight: 500;
				}
			}
		}

		div {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: .5rem;
			right: 1.25rem;
			font-weight: 500;
			background-color: white;
			padding-right: 1rem;
			padding-left: .25rem;
			border-radius: .25rem;
			min-width: 8.5rem;

			img {
				width: 1rem;
				margin: 0 .5rem;
			}
		}

		@include responsive(xs) {
			div {
				padding-right: .5rem;
			}

		}
	}

	#filtros {
		background-color: #e9ecef;
		border-radius: .25rem;
		padding: .5rem 1rem;

		h3 {
			font-size: 1.25rem;
			margin-bottom: 0;
			height: 2.4rem;
			display: flex;
			align-items: center;
			justify-content: center;

			span {
				padding-left: 1rem;
			}
		}

		#cantProductosEncontrados {
			margin-bottom: .5rem;
			text-align: center;
			font-weight: 300;
			border: 1px solid #545454;
			border-radius: .25rem;
			background-color: #545454;
			color: white;
		}

		h4 {
			text-align: center;
			font-size: 1.1rem;
		}

		.btn {
			display: block;
			width: 100%;
			margin: auto;

			&.ocultar {
				display: none;
			}
		}

		#verMarcas,
		#volverMarcas {
			background-color: #b30404;

			i {
				font-size: 1.15rem;
				margin-left: .5rem;
				vertical-align: text-bottom;
			}
		}

		.row {
			label {
				font-weight: 500;
			}

			.form-check {
				transition: all .4s;

				label {
					width: 100%;
					padding-left: .25rem;
				}

				&.seleccionado {
					background-color: #b30404a3;
					color: white;
					border-radius: .25rem;
					padding-left: 2rem;
				}

				&:not(.seleccionado):not(:nth-of-type(7)):hover {
					padding-left: 2rem;
					color: #b30404;
				}
			}

			.form-group {
				text-align: center;

				label {
					margin-bottom: 0;
				}

				input[type=text] {
					height: 1.7rem;
					max-width: 8rem;
					margin: auto;
					background-color: #545454;
					color: white;
				}
			}
		}

		#marcas {
			position: absolute;
			top: 0;
			left: 0;
			padding: 1rem .5rem;
			background-color: #545454;
			color: white;
			font-size: .9rem;
			height: 100%;
			width: 100%;
			border-radius: .25rem;
			border: 3px solid #545454;
			z-index: 1000;
			display: none;
			overflow-y: auto;

			.form-check {
				margin-bottom: .5rem;

				label {
					vertical-align: middle;
				}
			}
		}

		@include responsive(xs) {
			h3 {
				cursor: pointer;
			}

			#contenedorFiltros {
				display: none;


				.form-check {
					width: 70%;
					margin: auto;

					label {
						padding-left: .5rem;
					}
				}

				.btn {
					width: 70%;
				}
			}

			#marcas {
				.form-check {
					margin-bottom: .5rem;

					label {
						vertical-align: sub;
					}
				}
			}
		}
	}
}

/******************* Main de productos.html - Fin **************/
/***************************************************************/